# 4.7 Deriving New Variables

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# paths and import
path = '/Users/LuisD/Desktop/01-2025 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [6]:
# create subset
df = ords_prods_merge[:1000000]

In [18]:
# shape 
df.shape

(1000000, 16)

In [10]:
# define conditions
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [20]:
# Apply function. Creates a new column within the df dataframe called “price_range”
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/l6/6xtwqmpx0rsb9tx3k_scftwm0000gp/T/ipykernel_52787/2085408188.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [22]:
df['price_range']. value_counts(dropna = False)

price_range
Mid-range product    673183
Low-range product    314392
High range            12425
Name: count, dtype: int64

In [24]:
# what the most expensive within the data set
df['prices'].max()

99999.0

In [30]:
# filter the entire dataframe  
ords_prods_merge.loc[ords_prods_merge['prices']>15,'price_range_loc'] = 'High-range product'

In [36]:
ords_prods_merge.loc[(ords_prods_merge['prices']<= 15) & (ords_prods_merge[ 'prices']>5), 'price_range_loc'] = 'Mid-range product'

In [38]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [42]:
ords_prods_merge['price_range_loc'].value_counts (dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [48]:
#Printing the frequency of a column 
ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [50]:
# asigne values to a new column busiest days
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [52]:
ords_prods_merge[ 'busiest_day'] = result

In [54]:
ords_prods_merge[ 'busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [62]:
ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day
0,0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,0,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy
2,0,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy
3,0,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy
4,0,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy

In [74]:
# Create column “busiest_days" to identify two busiest days (0, 1), slowest days (4, 3), or regularly busy (all other days).

result_2 = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0 or value ==1:
    result_2.append("Busiest day")
  elif value == 3 or value ==4:
    result_2.append("Least busy")
  else:
    result_2.append("Regularly busy")

In [81]:
ords_prods_merge['busiest_days'] = result_2

In [83]:
ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: count, dtype: int64

In [87]:
# Check output ords_prods_merge with new "busiest days" column.
ords_prods_merge.head ()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day,busiest_days
0,0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,0,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy
2,0,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy
3,0,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy
4,0,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy

In [90]:
# Check value counts in "order_hour_of_day" column.
ords_prods_merge['order_hour_of_day'].value_counts()

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [ ]:
# MOST ORDERS 9, 10, 11, 12, 13, 14, 15, 16
# FEWER ORDERS 23, 0, 1, 2, 3, 4, 5, 6
# AVERAGE ORDES 7, 8, 17, 18, 19, 20, 21, 22

In [94]:
# Create for-loop statement labeling periods of time as “Most orders,” “Average orders,” and “Fewest orders.”
result_3 = []
for value in ords_prods_merge["order_hour_of_day"]:
  if value in [9, 10, 11, 12, 13, 14, 15, 16]: result_3.append("Most orders")
  elif value in [23, 0, 1, 2, 3, 4, 5, 6]: result_3.append("Fewest orders")
  else: result_3.append("Average orders")

In [97]:
# Create new column "busiest_period_of_day" in ords_prods_merge.
ords_prods_merge['busiest_period_of_day'] = result_3

In [100]:
# Print frequency values count in "busiest_period_of_day" column.
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

In [103]:
# Export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge2.pkl'))